<template>
  <PageTemplate
    :card1="{
      text: 'Erstellen dein Uternehmenprofil',
      img: 'undraw_Profile_data_re_v81r'
    }"
    :card2="{
      text: 'Erstellen ein Jobinserat',
      img: 'undraw_about_me_wa29',
      imgClass: 'h-52	-mt-16'
    }"
    :card3="{
      text: 'Wähle deinen neuen Mitarbeiter aus',
      img: 'undraw_swipe_profiles1_i6mr',
      imgClass: 'h-56	!mt-0'
    }"
  >
    Drei einfache Schritte <br />zu deinem neuen Mitarbeiter
  </PageTemplate>
</template>
