<template>
  <PageTemplate
    :card1="{
      text: 'Erstellen dein Uternehmenprofil',
      img: 'undraw_Profile_data_re_v81r'
    }"
    :card2="{
      text: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
      img: 'undraw_job_offers_kw5d',
      imgClass: 'h-40'
    }"
    :card3="{
      text: 'Vermittlung nach Provision oder Stundenlohn',
      img: 'undraw_business_deal_cpi9'
    }"
  >
    Drei einfache Schritte <br /> zur Vermittlung neuer Mitarbeiter
  </PageTemplate>
</template>
