<template>
  <PageTemplate
    :card1="{
      text: 'Erstellen dein Lebenslauf',
      img: 'undraw_Profile_data_re_v81r'
    }"
    :card2="{
      text: 'Erstellen dein Lebenslauf',
      img: 'undraw_task_31wc'
    }"
    :card3="{
      text: 'Mit nur einem Klick bewerben',
      img: 'undraw_personal_file_222m',
      imgClass: '-mt-12'
    }"
  >
    Drei einfache Schritte <br /> zu deinem neuen Job
  </PageTemplate>
</template>
