<template>
  <div class="py-20 flex justify-center flex-col">
    <h1 class="text-4xl text-center py-4">Deine Job <br /> website</h1>
    <img src="~/assets/undraw_agreement_aajr.svg" />
  </div>
</template>

<style scoped>
  h3 {
    color: #2D3748;
  }
  div {
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  }
</style>