<template>
  <div class="flex flex-col m-16">
    <div class="-m-2 flex items-center">
      <span class="number">3.</span>
      <span class="text">{{ $attrs.text }}</span>
    </div>
    <img class="h-52" :class="$attrs.imgClass" :src="require(`~/assets/${$attrs.img}.svg`)" alt="">
  </div>
</template>

<style scoped>
  .number {
    font: normal normal normal 130px/156px Lato;
    letter-spacing: 0px;
    color: #718096;
  }
  .text {
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.47px;
    color: #718096;
  }
</style>