<template>
  <div class="flex flex-col m-16">
    <img class="h-36" :class="$attrs.imgClass" :src="require(`~/assets/${$attrs.img}.svg`)" alt="">
    <div class="-m-16">
      <span class="number">1.</span>
      <span class="text">{{$attrs.text}}</span>
    </div>
  </div>
</template>

<style scoped>
  span.number {
    font: normal normal normal 130px/156px Lato;
    letter-spacing: 0px;
    color: #718096;
  }
  .text {
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.47px;
    color: #718096;
  }
</style>