<template>
  <div class="bg-apo flex flex-col mt-16 px-16 pb-16">
    <div class="-mx-8">
      <span class="number">2.</span>
      <span class="text">{{$attrs.text}}</span>
    </div>
    <img class="h-32" :class="$attrs.imgClass" :src="require(`~/assets/${$attrs.img}.svg`)" alt="">
  </div>
</template>

<style scoped>
  .number {
    font: normal normal normal 130px/156px Lato;
    letter-spacing: 0px;
    color: #718096;
  }
  .text {
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.47px;
    color: #718096;
  }
  .bg-apo {
    background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
  }
</style>