<template>
  <div class="fixed w-full bottom-0 left-0 bg-white">
    <div class="footer h-16 rounded-t-xl flex justify-center items-center p-5">
      <button type="button" class="rounded-xl h-10 w-full">
        Kostenlos Registrieren
      </button>
    </div>
  </div>
</template>

<style scoped>
  .footer {
    box-shadow: 0px -1px 3px #00000033;
  }
  button {
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
    letter-spacing: 0.84px;
    color: #E6FFFA;
  }
</style>