<template>
  <div class="fixed w-full mb-16 top-0 left-0 bg-white">
    <div class="header-gradient h-1.5"></div>
    <div class="header h-16 rounded-b-xl flex items-center justify-end">
      <button type="button" class="text-t-green m-4">
        Login
      </button>
    </div>
  </div>
</template>

<style scoped>
  .header-gradient {
    background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  }
  .header {
    box-shadow: 0px 3px 6px #00000029;
  }
</style>