<template>
  <div>
    <h2 class="text-xl text-center">
      <slot />
    </h2>
    <Card1
      v-if="$attrs.card1"
      v-bind="$attrs.card1"
    />
    <Card2
      v-if="$attrs.card2"
      v-bind="$attrs.card2"
    />
    <Card3
      v-if="$attrs.card3"
      v-bind="$attrs.card3"
    />
  </div>
</template>

<style scoped>
  h2 {
    font: normal normal medium 21px/25px Lato;
    letter-spacing: 0px;
    color: #4A5568;
  }
</style>