<template>
  <div class="my-10">
    <div id="route-tabs" class="mx-5 flex overflow-scroll">
      <NuxtLink to="/worker" class="w-40 h-10 border tab-item rounded-l-xl py-3 px-9">
        Arbeitnehmer
      </NuxtLink>
      <NuxtLink to="/employeer" class="w-40 h-10 border tab-item py-3 px-9">
        Arbeitgeber
      </NuxtLink>
      <NuxtLink to="/tempoffice" class="w-40 h-10 border tab-item rounded-r-xl py-3 px-9">
        Temporärbüro
      </NuxtLink>
    </div>
  </div>
</template>

<style scoped>
  div, button {
    border-color: #CBD5E0;
  }
  .tab-item {
    display: flex;
    justify-content: center;
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0.84px;
    color: #319795;
  }
  a.nuxt-link-active {
    font-weight: bold;
  }
  a.nuxt-link-exact-active {
    background: #81E6D9 0% 0% no-repeat padding-box;
    color: #E6FFFA;
  }
</style>